/* Color variables */

$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;
$gray-color:#353535;
$light-gray-color:#EAEAEA;
$lightest-gray-color: #F6F6F6;
$white-color:#FFF;
$black-color:#000;

/* Other variables */

$text-font: "Roboto", sans-serif;
$text-weight:300;
$title-weight:700;
$medium-weight:500;
$btn-border-radius:25px;