#location-info{
    background-color: $light-gray-color;
    padding:1rem 0;
    text-align: center;
    color: $gray-color;
    p{
        font-weight: $medium-weight;
        i{
            margin-right: toRem(17);
        }
    }
}

#hero-cta{
    text-align: center;
    padding:toRem(39) 0 toRem(57) 0;
    background-color: $lightest-gray-color;

    h1{
        font-size:toRem(24);

        @include desktop{
            font-size:toRem(40);
        }
    }

    p{
        font-size: toRem(18);
        margin-bottom: toRem(27);
        margin-top: toRem(16);
        color:$gray-color;
    }
}

#how-it-works{
    padding:toRem(48) toRem(20) toRem(68) toRem(20);

    .steps-container{
        display: flex;
        flex-direction: column;
        gap: toRem(25);
        
        @include tablet{
            flex-direction: row;
        }

        .step{
            display: flex;
            position:relative;
            align-items: center;
            flex:1;
            background-color:$lightest-gray-color;
            border-radius: toRem(20);
            padding:toRem(28) toRem(28) toRem(28) toRem(34);
            margin-left: toRem(13);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            transition:150ms background-color ease-in-out;

            &:hover{
                background-color:#F5EDFF;
                i{
                    color:$primary-color;
                }
            }

            @include tablet-only{
                flex-direction: column;
                text-align: center;
            }

            .badge-number{
                background-color: $primary-color;
                color:$white-color;
                font-size: toRem(14);
                font-weight: $medium-weight;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width:toRem(24);
                height:toRem(24);
                border-radius: 50%;
                position: absolute;
                left:toRem(-12);

                @include tablet-only{
                    left:50%;
                    transform:translateX(-50%);
                    top:toRem(-10);
                }
                
            }

            p{
                font-weight: $medium-weight;
            }

            i{
                margin-right:toRem(23);
                transition:150ms color ease-in-out;
                color: $icons-color;

                @include tablet-only{
                    margin-right: 0;
                    margin-bottom: toRem(16);
                }
            }
        }
    }
}

#restaurants-list{
    background-color: $lightest-gray-color;
    padding:toRem(54) toRem(20) toRem(64) toRem(20);
}

.card-container{
    display: flex;
    flex-direction: column;
    gap:toRem(18);

    @include tablet{
        flex-direction: row;
        flex-wrap: wrap;
    }

    @include desktop{
        flex-wrap: nowrap;
    }
}

/* Loader in homepage */
.loader-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
    background:$white-color;
    opacity:1;
    animation:fadeOut 4000ms forwards;

    .loader{
        position: relative;
        width: toRem(200);
        height: toRem(200);
        border-radius: 50%;
        border:7px solid transparent;
        border-top-color: $primary-color;
        animation:spin 2s linear infinite;

        &:before,&:after{
            content:'';
            position: absolute;
            border-radius: 50%;
            border:7px solid transparent;
        }

        &:before{
            top:toRem(10);
            left:toRem(10);
            right:toRem(10);
            bottom:toRem(10);
            border-top-color: $secondary-color;
            animation: spin 3s linear infinite;
        }

        &:after{
            top:toRem(25);
            left:toRem(25);
            right:toRem(25);
            bottom:toRem(25);
            border-top-color: $tertiary-color;
            animation: spin 1.5s linear infinite;
        }
    }
}