.restaurant-banner{
    max-height: toRem(275);
    @include tablet{
        max-height: toRem(423);
    }
    img{
        max-height: toRem(275);
        width: 100%;
        object-fit: cover;
        @include tablet{
            max-height: toRem(423);
        }
    }
}

.restaurant-info{
    background-color: $lightest-gray-color;
    border-radius:toRem(40) toRem(40) 0 0;
    padding:toRem(32) toRem(17);
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top:toRem(-45);

    @include desktop{
        max-width: toRem(1055);
        width:75%;
        margin-left: auto;
        margin-right: auto;
        padding:toRem(51) 10%;
    }

    .restaurant-dishes{
        opacity:0;
        transform: translateX(0);
        animation: fadeIn-RtL 500ms forwards;
        &:nth-of-type(2){
            animation-delay: .5s;
        }
        &:nth-of-type(3){
            animation-delay: 1s;
        }
        &:nth-of-type(4){
            animation-delay: 1.5s;
        }
    }
}



.restaurant-title-container{
    @include flex-center-vert;
    margin-bottom: toRem(40);
    justify-content: space-between;
    
    @include tablet{
        justify-content: center;
        gap:toRem(24);
    }
}

.dishes-container{
    list-style: none;
    @include flex-column;
    gap:toRem(12);
    margin-bottom: toRem(40);

    .dish{
        display: flex;
        justify-content: space-between;
        background-color:$white-color;
        border-radius: toRem(15);
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        overflow: hidden;

        &:after{
            content:"\f058";
            font-family: "Font Awesome 6 Free";
            background-color: $tertiary-color;
            width:0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 500ms width;
            font-size:0;
            margin-left: toRem(15);
        }

        &:hover, &:active{
            cursor: pointer;
            &:after{
                width:toRem(59);
                font-size:toRem(21);
                color:$white-color;
            }
        }

        .dish-price{
            font-weight: $title-weight;
            color:$gray-color;
            @include flex-center-column;
            justify-content: flex-end;
            margin-bottom: toRem(15);
        }

        .dish-info{
            padding:toRem(15);
            flex:1;
            overflow: hidden;

            .dishes-title{
                margin-bottom: toRem(5);
            }

            .dishes-title, p{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}