@keyframes spin {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes fadeOut {
    0%{
        opacity:1;
    }
    80%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

@keyframes zindexnone{
    0%{
        z-index: 1;
    }
    98%{
        z-index: 1;
    }
    100%{
        z-index: -1;
    }
}
