.card{  
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: toRem(15);
    overflow: hidden;

    a{
        text-decoration: none;
        color:$black-color;
        transition:150ms opacity ease-in-out;

        &:hover{
            opacity: .7;
        }
    }

    .card-img{
        position: relative;
        img{
            height:toRem(180);
            width: 100%;
            object-fit: cover;
        }
    }

    .card-status{
        background-color: $tertiary-color;
        color:$green-font;
        position: absolute;
        right: toRem(12);
        top: toRem(12);
        border-radius: toRem(2);
        padding:toRem(6) toRem(12);
        font-size: toRem(14);
    }

    .card-content{
        display: flex;
        justify-content: space-between;
        padding: toRem(16);

        /* Like button*/
        i{
            font-size: toRem(20);
        }
    }

    .card-title{
        margin-bottom:toRem(3);
    }
}